<div class="wrapper">
  <div class="row">
    <div class="col-12 p-4">
      <h1 class="title">Advent of Code 2022</h1>
    </div>
    <div class="col-12">
      <button class="btn-green-form shadow-none margin-button" (click)="goTo('day1')">Day 1</button>
      <button class="btn-green-form shadow-none margin-button" (click)="goTo('day2')">Day 2</button>
      <button class="btn-green-form shadow-none margin-button" (click)="goTo('day3')">Day 3</button>
      <button class="btn-green-form shadow-none margin-button" (click)="goTo('day4')">Day 4</button>
      <button class="btn-green-form shadow-none margin-button" (click)="goTo('day5')">Day 5</button>
    </div>
  </div>
</div>
